<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Image Search with search history</h1>
         <h3>Part 4 of Free Code Camp API Challenges</h3>
        <p>
          Search by appending '/api/imagesearch/' then a search term to the page's url to access the backend image search api.  Paginate the results by appending the querystring "?offset=10" or however many items to offset by.  Like: <a href="https://orvis-fcc-image-search.glitch.me/api/imagesearch/doggos?offset=1">https://orvis-fcc-image-search.glitch.me/api/imagesearch/doggos?offset=1</a>
        </p>
        <p>
          Also see recent searches by visiting <a href="https://orvis-fcc-image-search.glitch.me/api/latest/imagesearch/">https://orvis-fcc-image-search.glitch.me/api/latest/imagesearch/</a>
        </p>
      </div>
   </body>

</html>
